
body {
  margin: 20px;
}

main {
  font: normal 16px serif;
  margin: 50px 100px;
}

nav {
  margin: 50px 100px;
}

.kapitel-link {
  font: bold 12px sans-serif;
  text-transform: uppercase;
}

.kapitel-link.prev {
  float: left;
}

.kapitel-link.next {
  float: right;
}

.brev {
  font: italic 15px Helvetica, Arial, sans-serif;
  margin: 0px 50px;
}

.saga {
  margin-top: 20px;
  font: 15px Helvetica, Arial, sans-serif;
}

h1 {
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
}

p {
  font: 15px Helvetica, Arial, sans-serif;
   margin: 10px 50px;
}

.kapitel {
  text-align: center;
}

.credits {
  margin-bottom: 50px;
  border-top: 3px solid black
}
.story-link {
  
}

  #letter {
  font: italic 15px Helvetica, Arial, sans-serif;
  margin: 15px 50px;
  font-size: 20px;
}

  #signature {
  font: italic 15px Helvetica, Arial, sans-serif;
  margin: 10px 50px;
  font-size: 16.5px;
}